<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Confirmación de generación de PDF</title>
    <link rel="stylesheet" href="../../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" href="../../static/css/styles.css" th:href="@{/css/styles.css}">
</head>
<body>

    <div class="w-50 mx-auto pt-5">
        <h1>Se ha generado el PDF con la información del usuario correctamente</h1>
        <p>Revise la raíz del proyecto para verlo</p>
    </div>

    <div class="w-50 mx-auto pt-5">
        <a href="./index.html" th:href="@{/admin/index}"><button type="button" class="btn btn-info">Volver al inicio</button> </a>
    </div>


</body>
</html>